NODE_ENV=development
PORT=4000

MONGO_URI=mongodb://localhost:27017/vivaacademy

JWT_ACCESS_SECRET=change_this_access_secret
JWT_REFRESH_SECRET=change_this_refresh_secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=30d

CORS_ORIGIN=*

SUPER_ADMIN_NAME=Viva Admin
SUPER_ADMIN_EMAIL=admin@vivaacademy.com
SUPER_ADMIN_PASSWORD=ChangeMe123!
